html body{
	font-family: "sans-serif";
    font-size: 20px;
	background: rgb(73, 64, 82);
	background-color: rgb(45, 45, 51);
    align-items: center;
    justify-content: center;
    display: grid;
	overflow: hidden; 
}

h2{
	text-align: center;	
}

/* Memory */
#game{
	justify-content: center; 
	text-align: center;
}

#field{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center; 
	text-align: center;
	border: none;
}

/* Kartenstyle */
.card{
	height: 200px;
  	width: 200px;
	border-radius: 10px;
	margin: 0px 25px 25px 0px;
	text-align: center;
	font-size: 3.75em;
}

.hidden{
	display: none;
}

.open{
	background-color: rgb(250, 252, 251);
}

.taken{
	visibility: hidden;
}

button {
	background-color: rgb(68, 45, 85);
	width: 100px;
	height: 40px;
}